.card {
  background: var(--card-gradient);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  color: white;
  display: grid;
  grid-template-columns: 1fr 2px 1fr;
}

.card header {
  border-bottom: 2px solid var(--light-gray);
  grid-column-start: span 4;
  padding: 2rem;
  text-align: center;
}

.card time {
  font-size: 1rem;
  display: block;
  margin-bottom: 30px;
}

.card h2 {
  text-transform: capitalize;
  font-size: 2rem;
  margin: 0.5rem 0 0.5rem 0;
}

.card h1 {
  font-size: 5rem;
  margin: 0 0 0.25rem 0;
}

.location {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.divider {
  background-color: var(--light-gray);
}

.metaData {
  font-size: 1.125rem;
  padding: 2rem;
  text-align: center;
}

.metaData p {
  color: var(--light-gray);
  letter-spacing: 0.1rem;
  margin: 0 0 0.25rem 0;
  text-transform: uppercase;
}
