.form {
  display: flex;
  margin-top: 1.5rem;
}

.form label {
  display: none;
}

.form input {
  border-radius: 3px;
  border: 1px solid var(--form-light-color);
  flex: 1;
  margin-right: 1rem;
  padding: 0.75rem;
}

.form input:focus {
  border: 1px solid var(--form-dark-color);
  outline: none;
}

.form button {
  background-color: var(--form-light-color);
  border-radius: 3px;
  border: 1px solid var(--form-dark-color);
  color: white;
  padding: 0.75rem;
}

.form button:hover {
  background-color: var(--form-dark-color);
  cursor: pointer;
  transition: background-color 250ms ease-in-out;
}
